/* h1{
    color: brown;
} */
p{
    color: aqua;
}
/* h1#mainh1{
    color: brown;
} */

h1.mainh1{
    text-align: center;
    /* color: #2B691E; */
    color: rgb(43, 105, 30);
    border-bottom: solid 1px black;
    /* border-radius: 10px; */
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

a:visited{
    color: brown;
}

a:link{
    color: aqua;
}
a:hover{
    color: blue;
}

.ulist{
    text-decoration: none;
    list-style: none;
    display: flex;
    background-color: #8C928A ;
    padding: 15px;
}

a#ulAnchor{
    margin: 20px;
    text-decoration: none;
}